<div style="width: 100%; text-align: center; margin-top: 20px;" class="test3">
  <button type="button" class="btn btn-primary" routerLink="/">Powrót do klas</button>
  <br>
  <br>
</div>

<div class="container-fluid" align="center">

  <form [formGroup]="classForm" (ngSubmit)="onSubmit()" *ngIf="cassified === 0">
    <div class="formBackground">
    <mat-form-field appearance="fill">
      <mat-label>Wielkość projektu</mat-label>
      <mat-select  formControlName="size">
        <mat-option value="1">Mały</mat-option>
        <mat-option value="2">Średni</mat-option>
        <mat-option value="3">Duży</mat-option>
        <mat-option value="4">Bardzo duży</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Liczebność zespołu</mat-label>
      <mat-select  formControlName="team">
        <mat-option value="1">1 - 5</mat-option>
        <mat-option value="2">5 - 20</mat-option>
        <mat-option value="3">10 - 35</mat-option>
        <mat-option value="4">25 - 50</mat-option>
        <mat-option value="5">40 - 80</mat-option>
        <mat-option value="6"> > 80 </mat-option>
      </mat-select>
    </mat-form-field>
  <br>
    <mat-form-field appearance="fill">
      <mat-label>Czas trwania</mat-label>
      <mat-select  formControlName="time">
        <mat-option value="1"> < 6 msc</mat-option>
        <mat-option value="2">6 - 12 msc</mat-option>
        <mat-option value="3">1 - 2 lata</mat-option>
        <mat-option value="4">2 - 3 lata</mat-option>
        <mat-option value="5">3 - 5 lat</mat-option>
        <mat-option value="6">5 - 10 lat</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" >
      <mat-label>Koszt</mat-label>
      <mat-select formControlName="cost">
        <mat-option value="1">Mały</mat-option>
        <mat-option value="2">Średni</mat-option>
        <mat-option value="3">Duży</mat-option>
        <mat-option value="4">Bardzo duży</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" >
      <mat-label>Zakres zmian</mat-label>
      <mat-select formControlName="change">
        <mat-option value="1">Mały</mat-option>
        <mat-option value="2">Średni</mat-option>
        <mat-option value="3">Duży</mat-option>
        <mat-option value="4">Bardzo duży</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" >
      <mat-label>Stopień skomplikowania</mat-label>
      <mat-select formControlName="complication">
        <mat-option value="1">Mały</mat-option>
        <mat-option value="2">Średni</mat-option>
        <mat-option value="3">Duży</mat-option>
        <mat-option value="4">Bardzo duży</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" >
      <mat-label>Ryzyko</mat-label>
      <mat-select formControlName="risk">
        <mat-option value="1">Niskie</mat-option>
        <mat-option value="2">Średne</mat-option>
        <mat-option value="3">Wysokie</mat-option>
        <mat-option value="4">Bardzo Wysokie</mat-option>
      </mat-select>
    </mat-form-field>
      <br>
      <button type="submit" class="btn btn-primary" (click)="getF()">Potwierdź</button>
    </div>

  </form>

  <div class="test" *ngIf="cassified === 1">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">IOWA</h1>
        <hr>
        <p>Wielkość projektu: Mały</p>
        <p>Liczebność zespołu: 1 - 5</p>
        <p>Czas trwania: < 6 msc</p>
        <p>Koszt: Bardzo mały</p>
        <p>Zakres zmian: Bardzo Mały</p>
        <p>Stopień skomplikowania: Bardzo Mały</p>
        <p>Ryzyko: Niskie</p>
        <br>
        <button type="button" class="btn btn-primary" (click)="backToClass()">Wróć</button>
      </div>
    </div>
  </div>

  <div class="test" *ngIf="cassified === 2">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">UTAH</h1>
        <hr>
        <p>Wielkość projektu: Mały</p>
        <p>Liczebność zespołu: 5 - 20</p>
        <p>Czas trwania: 6 - 12 msc</p>
        <p>Koszt: Mały</p>
        <p>Zakres zmian: Mały</p>
        <p>Stopień skomplikowania: Mały</p>
        <p>Ryzyko: Niskie</p>
        <br>
        <button type="button" class="btn btn-primary" (click)="backToClass()">Wróć</button>
      </div>
    </div>
  </div>

  <div class="test" *ngIf="cassified === 3">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">TENNESSEE</h1>
        <hr>
        <p>Wielkość projektu: Średni</p>
        <p>Liczebność zespołu: 10 - 35</p>
        <p>Czas trwania: 1 - 2 lata</p>
        <p>Koszt: Średni</p>
        <p>Zakres zmian: Średni</p>
        <p>Stopień skomplikowania: Średni</p>
        <p>Ryzyko: Średnie</p>
        <br>
        <button type="button" class="btn btn-primary" (click)="backToClass()">Wróć</button>
      </div>
    </div>
  </div>

  <div class="test" *ngIf="cassified === 4">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">NEVADA</h1>
        <hr>
        <p>Wielkość projektu: Średni</p>
        <p>Liczebność zespołu: 25 - 50</p>
        <p>Czas trwania: 2 - 2 lata</p>
        <p>Koszt: Duży</p>
        <p>Zakres zmian: Średni</p>
        <p>Stopień skomplikowania: Duży</p>
        <p>Ryzyko: Wysokie</p>
        <br>
        <button type="button" class="btn btn-primary" (click)="backToClass()">Wróć</button>
      </div>
    </div>
  </div>

  <div class="test" *ngIf="cassified === 5">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">ARIZONA</h1>
        <hr>
        <p>Wielkość projektu: Duży</p>
        <p>Liczebność zespołu: 40 - 80</p>
        <p>Czas trwania: 3 - 5 lat</p>
        <p>Koszt: Bardzo Duży</p>
        <p>Zakres zmian: Duży</p>
        <p>Stopień skomplikowania: Bardzo Duży</p>
        <p>Ryzyko: Wysokie</p>
        <br>
        <button type="button" class="btn btn-primary" (click)="backToClass()">Wróć</button>
      </div>
    </div>
  </div>

  <div class="test" *ngIf="cassified === 6">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">TEXAS</h1>
        <hr>
        <p>Wielkość projektu: Bardzo Duży</p>
        <p>Liczebność zespołu: > 80</p>
        <p>Czas trwania: 5 - 10 lat</p>
        <p>Koszt: Bardzo Duży</p>
        <p>Zakres zmian: Bardzo Duży</p>
        <p>Stopień skomplikowania: Bardzo Duży</p>
        <p>Ryzyko: Bardzo Wysokie</p>
        <br>
        <button type="button" class="btn btn-primary" (click)="backToClass()">Wróć</button>
      </div>
    </div>
  </div>

</div>
