<div class="container-fluid">

  <div class="row"  align="center">
    <div class="col-xl-4">
      <div class="test">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">IOWA</h1>
            <hr>
            <p>Wielkość projektu: Mały</p>
            <p>Liczebność zespołu: 1 - 5</p>
            <p>Czas trwania: < 6 msc</p>
            <p>Koszt: Bardzo mały</p>
            <p>Zakres zmian: Bardzo Mały</p>
            <p>Stopień skomplikowania: Bardzo Mały</p>
            <p>Ryzyko: Niskie</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="test">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">UTAH</h1>
            <hr>
            <p>Wielkość projektu: Mały</p>
            <p>Liczebność zespołu: 5 - 20</p>
            <p>Czas trwania: 6 - 12 msc</p>
            <p>Koszt: Mały</p>
            <p>Zakres zmian: Mały</p>
            <p>Stopień skomplikowania: Mały</p>
            <p>Ryzyko: Niskie</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="test">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">TENNESSEE</h1>
            <hr>
            <p>Wielkość projektu: Średni</p>
            <p>Liczebność zespołu: 10 - 35</p>
            <p>Czas trwania: 1 - 2 lata</p>
            <p>Koszt: Średni</p>
            <p>Zakres zmian: Średni</p>
            <p>Stopień skomplikowania: Średni</p>
            <p>Ryzyko: Średnie</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row"  align="center">
    <div class="col-lg-4">
      <div class="test2">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">NEVADA</h1>
            <hr>
            <p>Wielkość projektu: Średni</p>
            <p>Liczebność zespołu: 25 - 50</p>
            <p>Czas trwania: 2 - 2 lata</p>
            <p>Koszt: Duży</p>
            <p>Zakres zmian: Średni</p>
            <p>Stopień skomplikowania: Duży</p>
            <p>Ryzyko: Wysokie</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="test2">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">ARIZONA</h1>
            <hr>
            <p>Wielkość projektu: Duży</p>
            <p>Liczebność zespołu: 40 - 80</p>
            <p>Czas trwania: 3 - 5 lat</p>
            <p>Koszt: Bardzo Duży</p>
            <p>Zakres zmian: Duży</p>
            <p>Stopień skomplikowania: Bardzo Duży</p>
            <p>Ryzyko: Wysokie</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="test2">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">TEXAS</h1>
            <hr>
            <p>Wielkość projektu: Bardzo Duży</p>
            <p>Liczebność zespołu: > 80</p>
            <p>Czas trwania: 5 - 10 lat</p>
            <p>Koszt: Bardzo Duży</p>
            <p>Zakres zmian: Bardzo Duży</p>
            <p>Stopień skomplikowania: Bardzo Duży</p>
            <p>Ryzyko: Bardzo Wysokie</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="width: 100%; text-align: center; margin-top: 20px;" class="test3">
    <button type="button" class="btn btn-primary" routerLink="/process">Przejdź do prezentacji procesu</button>
  </div>
</div>
